body {
    margin: 0;
    padding: 0;
}

nav{
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #FF5A33;
}

.main {
    grid-template-rows: auto;
}

main {
    padding: 16px;
}

h1{
    color: #146152;
}

footer{
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
    background-color: #B4CF66;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}

tr:nth-child(even) {background: #CCC}
